body {
    margin: 0px;
    padding: 0px;
}

.folder {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    background-color: #c9c9c9;
    color: black;
    font-size: 12px;
}

.folder:after {
    content: "";
    display: table;
    clear: both;
}

.column1, .column2 {
    margin: 6px;
    overflow: hidden;
    
    box-shadow: 0px 2px 4px #222222;
    border-radius: 5px;
}

.column1 {
    width: 479px;
    flex-shrink: 0;
}

.column2 {
    width: 100%;
}

.title {
    margin: 4px;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), 0px -1px 0px rgba(0, 0, 0, 0.7);
    position: relative;
}

.title a:link, .title a:visited {
    color: black;
}

.index, .gallery, .raw_viewer, .player_index {
    /* height: 100%; */
    overflow: auto;
    
    border: 1px solid #9d9e9d;
    border-radius: 3px;

    background-color: #676767;
    color: white;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
}

.raw_viewer {
    width: 100%;
    display: block;
}

.version {
    margin: 12px;
}

.version_content, .version_caption, .version_footer, .folder_content, .folder_footer  {
    margin: 4px;
}

.version_content, .folder_content {
    display: inline-block;

    box-shadow: 0px 2px 4px #222222;
}

.folder_content {
    width: 200px;
    height: 200px;
    overflow: hidden;

    border-radius: 7px;
}

.folder_footer {
    max-width: 200px;
}

.version_caption {
    color: #c9c9c9;
}

.version_footer, .folder_footer {
    font-weight: bold;
}

.version_footer a:link, .version_footer a:visited  {
    color: white;
}

.version_info {
    margin: 1px;
    padding: 2px;
    display: inline-block;
    overflow: hidden;
    
    font-size: 10px;
    color: black;
    background-color: #c9c9c9;
    /* border: 1px solid #b8b8b8; */
    border: 1px inset #b8b8b8;
    border-radius: 3px;
    
    vertical-align: middle;
}

.version_info:hover {
    background-color: white;
}

.version_info a:link, .version_info a:visited {
    color: black;
    text-decoration: none;
}

.index_item, .index_selected {
    padding: 4px;
}

.index_key, .index_value {
    font-size: 11px;
}

.index_key {
    text-align: right;
}

.index_short {
    background-color: #cfcfcf;
    margin: 8px;
    padding: 8px;
    border: 1px inset #b8b8b8;
    border-radius: 5px;
}

.index_mini {
    width: 100%;
    border-top: 1px solid #9d9e9d;
    margin: 0 auto;
}

.index_full {
    width: 100%;
    color: #ebcf9d;
}

.index_main, .player_tray, .player_cover_artist, .player_cover_album {
    padding: 2px;
    color: #505062;
    font-size: 12px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

.index_value {
    text-align: left;
    background-color: #cfcfcf;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
}

.index_selected {
    background-color: #9b9ea7;
}

.index_item a:link, .index_item a:visited, .index_value a:link, .index_value a:visited {
    color: black;
    text-decoration: none;
}

.index_selected a:link, .index_selected a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.index_item:hover {
    background-color: white;
}

.image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    image-orientation: from-image;
}

.folder_poster {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.player_button, .player_button_selected {
    padding: 1px 2px;
    margin: 2px;
    /* display: inline-block; */
    overflow: hidden;
    
    font-size: 11px;
    /* color: black; */
    color: #262626;
    background-color: #d9d9d996;
    text-shadow: none;

    border: 1px solid #d9d9d9;
    border-radius: 3px;

    cursor: pointer;
    
    /* vertical-align: middle; */
}

.player_button:hover {
    background-color: #e6e6e6;
}

.player_button:active {
    background-color: #ebcf9d;
}

.player_button a:link, .player_button a:visited {
    /* color: #4d4d4d; */
    color: black;
    text-decoration: none;
}

.player {
    position: relative;
}

.player_lcd {
    position: absolute;
    left: 253px;
    top: 25px;
    width: 173px;
    height: 54px;

    color: #ebcf9d;

    font-size: 34px;
    font-weight: normal;
    text-align: center;
    line-height: 54px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player_tray {
    position: absolute;
    left: 5px;
    top: 194px;
    width: 467px;
    height: 28px;

    text-align: center;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player_index {
    position: relative;
    display: flex;
    flex-direction: column;
    
    border-style: none;
    background-image: url('/Retrotube/images/cd-player-border.png');
    background-repeat: round repeat;
}

.player_index_playlist {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 10px;

    border-radius: 3px;
    overflow: hidden;
}

.player_index_cover {
    position: absolute;
    left: 5%;
    width: 90%;
    bottom: 10px;
}

.player_full_cover {
    display: block;
    width: auto;
    height: 94%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 4px 8px black;
}

.player_gallery {
    position: relative;

    cursor: pointer; 
}

.player_gallery_cdcase {
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 178px;
}

.player_gallery_cover {
    position: absolute;
    left: 26px;
    top: 8px;
    width: 165px;
    height: 162px;
    object-fit: cover;
}

.player_cover_artist, .player_cover_album {
    position: absolute;
    left: 43px;
    width: 125px;
    height: 20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player_cover_artist {
    top: 37px;
}

.player_cover_album {
    top: 119px;
}

.player_index_key {
    font-weight: bold;
    text-align: center;
}

.player_index_key_r {
    font-weight: bold;
    text-align: right;
}

.player_index_key_l {
    font-weight: bold;
    text-align: left;
}

.player_track_button {
    width: 100%;
    text-align: center;
}

.player_index_key_selected, .player_button_selected {
    background-color: #ebcf9d;
}

.activity_status {
    position: absolute;
    left: 0px;
    top: 0px;
}
